<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Twitterizer2.Example.ConsumerKey" value="KEY"/>
		<add key="Twitterizer2.Example.ConsumerKeySecret" value="SECRET"/>
		<!-- Allow Twitterizer to submit usage statistics -->
		<add key="Twitterizer2.EnableStatisticsCollection" value="true"/>
		<!-- Enable Twitterizer's custom performance counters -->
		<add key="Twitterizer2.EnablePerformanceMonitor" value="false"/>
		<!-- Enable use of SSL to reach Twitter -->
		<add key="Twitterizer2.EnableSSL" value="true"/>
		<!-- Enable caching results -->
		<add key="Twitterizer2.EnableCaching" value="false"/>
		<!-- Sets the number of seconds to cache results -->
		<add key="Twitterizer2.CacheTimeout" value="60"/>
	</appSettings>
    <connectionStrings>
        <add name="bawsDB" connectionString="Data Source=DATASOURCECURI; Initial Catalog=baws; User ID=baws; Password='PASSWORD';" providerName="Sytem.Data.SqlClient"/>
    </connectionStrings>
	<system.web>
		<securityPolicy>
			<trustLevel name="GodaddyTrust" policyFile="web_godaddytrust.config"/>
		</securityPolicy>
		<trace enabled="true" pageOutput="false" mostRecent="true" requestLimit="100"/>
		<!-- Set the level to GodaddyTrust to simulate GoDaddy's hosting environment -->
		<trust level="Full"/>
		<compilation debug="true" />
		<authentication mode="None"/>
        <pages>
            <namespaces>
                <clear/>
                <add namespace="System"/>
                <add namespace="System.Collections"/>
                <add namespace="System.Collections.Generic"/>
                <add namespace="System.Collections.Specialized"/>
                <add namespace="System.Configuration"/>
                <add namespace="System.Text"/>
                <add namespace="System.Text.RegularExpressions"/>
                <add namespace="System.Web"/>
                <add namespace="System.Web.Caching"/>
                <add namespace="System.Web.SessionState"/>
                <add namespace="System.Web.Security"/>
                <add namespace="System.Web.Profile"/>
                <add namespace="System.Web.UI"/>
                <add namespace="System.Web.UI.WebControls"/>
                <add namespace="System.Web.UI.WebControls.WebParts"/>
                <add namespace="System.Web.UI.HtmlControls"/>
            </namespaces>
        </pages>
        
        <authentication mode="Windows"/>
        <customErrors mode="Off"/>
	</system.web>
	<!-- The following block allows for diagnostic tracing information to be displayed in ASP.NET's page trace -->
	<system.diagnostics>
		<trace>
			<listeners>
				<add name="WebPageTraceListener" type="System.Web.WebPageTraceListener, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</listeners>
		</trace>
	</system.diagnostics>
	<!-- Uncomment the next block to enable proxy support at the given address. Left commented, settings from IE will be used. -->
	<!--
  <system.net>
    <defaultProxy enabled="true">
      <proxy proxyaddress="http://127.0.0.1:8888"/>
    </defaultProxy>
  </system.net>
  -->
</configuration>
